<h1 class="page-title">Movies in Display</h1>
<div class="movie-container">
    {{#each movies}}
        <div class="individual-movie">
            <img src="{{image}}" alt="movie-image">
            <h2>{{title}}</h2>
            <a href="movies/{{_id}}">See more</a>
            <br>
        </div>
    {{/each}}
</div>