body {
  margin: 0;
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0b4f6c;
}

a {
  color: #00B7FF;
}

#home{
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  padding: 0;
  background-image: url('/images/cinema.jpg');
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  display: flex;  
  justify-content: flex-end;
  align-items: center;
}

#home-button-container{
 margin-right: 200px;
 padding: 0;
}

#home h1{
  font-size: 6em;
  color: white;
}

.movie-container{
  margin-left: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.individual-movie{
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  
}

.individual-movie img{
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.individual-movie h2{
  font-size: 2em;
  color: #EDF2EF;
}

.individual-movie a:hover{
  color: #EDF2EF;
}

.page-title{
  padding: 40px;
  margin-left: 90px;
  color: #57C4E5;
}

.movie-details{
  margin-left: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
}

.movie-details img{
  margin-bottom: 30px;
  width: 200px;
  height: auto;
}

.movie-details p{
  width: 80%;
  height: auto;
  color: #EDF2EF;
}

.movie-details li{
  margin-top: 20px;
  color: #EDF2EF;
}

.movie-details h2{
  color: #57C4E5;
}

.showtimes{
  display: flex;
  gap: 7px;
  margin-bottom: 30px;
}